@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Montserrat:regular,b,bi|Source+Sans+Pro";

body {
    font-family: "Source Sans Pro";
}

h1 {
    color: red;
    font-size: 3em;
    }